node_modules

/packages/jse-backend/node_modules
/packages/jse-frontend/node_modules

/packages/jse-backend/.env
/packages/jse-backend/.env.local

/packages/jse-frontend/.env
/packages/jse-frontend/.env.local

/packages/jse-backend/yarn.lock
/packages/jse-backend/package-lock.json

/packages/jse-frontend/yarn.lock
/packages/jse-frontend/package-lock.json

/packages/jse-backend/build

/packages/jse-jobs-scraper/yarn.lock
/packages/jse-jobs-scraper/package-lock.json

/packages/jse-jobs-scraper/node_modules
/packages/jse-jobs-scraper/node_modules

/packages/jse-jobs-scraper/dist
node_modules
